/*---------------------
  Breadcrumb
-----------------------*/
.breadcrumb-section {
  display: flex;
  align-items: center;
  padding: 45px 0 40px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }
}

.breadcrumb__text {

  h2 {
    font-size: 46px;
    color: $white-color;
    font-weight: 700;
  }
}

.breadcrumb__option {

  a {
    display: inline-block;
    font-size: 16px;
    color: $white-color;
    font-weight: 700;
    margin-right: 20px;
    position: relative;

    &:after {
      position: absolute;
      right: -12px;
      top: 13px;
      height: 1px;
      width: 10px;
      background: $white-color;
      content: '';
    }
  }

  span {
    display: inline-block;
    font-size: 16px;
    color: $white-color;
  }
}

.bread-crumb ul {
  display: flex;
  width: 100%;
  list-style: none;
}

.bread-crumb ul li {
  cursor: pointer;
  color: #000;
  margin-right: 10px;
  text-transform: capitalize;

  @media screen and (max-width: 768px) {
    font-size: 12px;
    line-height: unset;
  }
}

.bread-crumb ul li a {
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
}

.bread-crumb ul li:not(:last-child):after {
  content: '/';
  margin-left: 10px
}