.t-product {

  .apresentacao {
    @media screen and (min-width: 768px) {
      width: 500px;
    }
  }
  #show{
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 290px;
    
    @media screen and (min-width: 768px) {
      max-width: 500px;
    }
  }
  .thumbs {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }

  .quantitySelector input {
    -moz-appearance: textfield;
    pointer-events: none;
  }

  .quantitySelector input::-webkit-outer-spin-button,
  .quantitySelector input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    pointer-events: none;
  }

  .quantitySelector label {
    margin-bottom: 0 !important;
  }

  .quantityText {
    display: none;
  }

  .buy-button.buy-button-ref {
    padding: 16px 28px 14px;
    display: block;
    font-size: 14px;
    height: 56px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
  }

  .product__details__quantity {
    margin: unset;
    display: flex !important;
  }

  .quantity {
    margin-right: 6px;

    .pro-qty {
      align-items: center;
      height: 56px !important;
      justify-content: center;
      display: flex !important;

      .unitSelector {
        display: none !important;
      }
    }
  }

  .is--shelf {
    justify-content: center;
  }
}