.t-product {
  .apresentacao {
    @media screen and (min-width: 768px) {
      width: 500px;
    }
  }

  #show {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 290px;

    @media screen and (min-width: 768px) {
      max-width: 500px;
    }
  }

  #include {
    display: flex;
    justify-content: center;
  }

  .thumbs {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }

  .quantitySelector input {
    -moz-appearance: textfield;
    pointer-events: none;
  }

  .quantitySelector input::-webkit-outer-spin-button,
  .quantitySelector input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    pointer-events: none;
  }

  .quantitySelector label {
    margin-bottom: 0 !important;
  }

  .quantityText {
    display: none;
  }

  .buy-button.buy-button-ref {
    padding: 16px 28px 14px;
    display: block;
    font-size: 14px;
    height: 56px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: #7fad39;
    letter-spacing: 2px;
  }

  .product__details__quantity {
    margin: unset;
    display: flex !important;
  }

  .quantity {
    margin-right: 6px;

    .pro-qty {
      align-items: center;
      height: 56px !important;
      justify-content: center;
      display: flex !important;

      .unitSelector {
        display: none !important;
      }
    }
  }

  .is--shelf {
    justify-content: center;
  }

  .product__details__text ul li b {
    @media screen and (max-width: 768px) {
      width: 155px;
    }
  }

  #div_Conteudo_DetalhesDoProduto_pnlDimensoes {
    h3 {
      display: none;
    }

    #p31_dtSkuCompleteName {
      font-size: 14px;
    }
  }

  .productName {
    @media screen and (max-width: 768px) {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  .product__details__text p {
    margin-bottom: 0;
  }

  .productDescriptionShort {
    margin: 20px 0;
  }

  .heart-icon {
    display: none;

    +ul {
      li {
        &:nth-child(2) {
          b {
            font-size: 20px;
          }
        }
      }
    }
  }

  .rating {
    list-style: none;

    &-avalie {
      a {
        color: #000;
      }

      &-wrapper {}
    }
  }

  #ulPubliqueResenha,
  .bts.links-resenha-usuario {
    list-style: none;

    a {
      color: #000;
    }
  }

  .product__details__tab {
    @media screen and (max-width: 768px) {
      padding-top: 25px;
    }
  }

  .t-shelf__img-container {
    display: flex;
    flex-direction: column;
  }
  .latest-product__item__pic,
  .latest-product__item__text {
    float: unset;
    margin-right: unset;
    display: flex;
  }

  .latest-product__item__pic {
    justify-content: center;
  }
  .latest-product__item__text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}