@import "../variable";
@import "../mixins";

@import "../base";

@import "../header";
@import "../footer";

.header__logo {
  h2 {
    font-family: $font-primary;
  }
}

.footer {
  font-family: $font-primary;

  &.spad {
    padding-top: 0;
  }

  &__copyright__text {
    text-align: center;
  }
}