@import '../variable';

.t-category,
.t-department {
  font-family: $font-primary;

  .resultado-busca {

    &-termo,
    &-numero,
    &-tempo {
      display: none;
    }
  }

  .vitrine>.t-shelf {
    ul {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);

      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);

      }
    }
  }
}

.resultado-busca-filtro {
  height: 60px;
  display: flex;
  font-weight: 600;
  align-items: center;
  background-color: #7fad39;
  justify-content: space-between;
}

.orderBy,
.filterBy {
  width: 300px;
  color: #fff;
  display: flex;
  margin: 0 20px;
  align-items: center;
  justify-content: space-around;

  @media screen and (max-width: 768px) {
    width: 200px;
    margin: unset;
    font-size: 14px;
    flex-direction: column;

    .nice-select {
      li {
        color: #000;
      }
    }
  }

  select,
  option,
  span {
    color: #000;
  }

  label {
    color: #fff;
    margin-bottom: 0 !important;
  }
}


.pager {
  &.bottom {
    display: none;
  }

  &.top {
    display: flex;
    align-items: center;
    justify-content: center;

    .pages {
      width: 100%;
      display: flex;
      margin-top: 30px;
      list-style: none;
      justify-content: center;

      li {
        display: flex;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        font-family: $font-primary !important;

        &:not(.page-number) {
          width: 70px;
          height: 30px;
          color: #fff;
          margin: 0 15px;
          border-radius: 10px;
          border: 1px solid gray;
          background-color: #7fad39;

          .page-number {
            width: 30px;
            height: 30px;
            color: #000;
          }
        }
      }
    }
  }
}

.js--shelf-item {
  display: flex;
  justify-content: center;

  .t-shelf__img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .latest-product__item__text {
    text-align: center;
  }

  .latest-product__item__pic {
    margin-right: 0;
  }
}

.compare {
  display: none;
}